footer {
    padding: px-to-rem(30px) px-to-rem(20px) px-to-rem(40px);
    position: relative;
    background: url('../img/png/2.jpg');
}

.footer__title {
    margin-bottom: px-to-rem(30px);
}

.footer-smart-object{
    width: px-to-rem(210px);
    position: absolute;
    top: px-to-rem(-20px);
    right: 0;
}

.footer-stage__text {
    max-width: px-to-rem(200px);
    position: relative;
}

.footer-stage__text::before {
    @include underline(block, absolute, '', 0);
    top: -59%;
    left: 5%;
    background-color: $color-ethnoscience-border;
    height: px-to-rem(4px);
    width: px-to-rem(20px);
    transform: translate(-50%, -50%);
}

.footer-stage__item {
    margin-bottom: px-to-rem(60px);
}

.stage {
    background-repeat:  no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    border: 10px solid #ede4da;
    border-radius: 100%;
    height: px-to-rem(136px);
    margin: 0 auto;
    width: px-to-rem(136px);
    margin-bottom: px-to-rem(30px);
}

.stage::before {
    @include underline(block, absolute, '', -1);
    border-radius: 100%;
    border: 10px solid #f64d01;
    height: px-to-rem(116px);
    width: px-to-rem(116px);
}

.footer-stage-first {
    background-image: url('../img/svg/footer/Forma 2.svg');
}

.footer-stage-second {
    background-image: url('../img/svg/footer/Forma 1.svg');
}

.footer-stage-third {
    background-image: url('../img/svg/footer/Forma 3.svg');
}

.footer_product{
    display: none;
}

.footer-stage__text{
    margin: 0 auto;
}


@media screen and (min-width: 480px) and (max-width: 1199px) {
    .footer-wrap {
        padding: px-to-rem(30px) px-to-rem(20px) px-to-rem(50px); 
        margin: 0 auto;
        padding: px-to-rem(30px) 0;
        max-width: px-to-rem(400px);
    }
}

@media screen and (min-width: 1200px) {

.footer-wrap {
    padding: px-to-rem(100px) px-to-rem(20px) px-to-rem(130px); 
}

.footer__title {
    margin-bottom: px-to-rem(75px);
    position: relative;
}

.section__footer {
    display: flex;
}

.stage {
    margin-right: px-to-rem(20px);
    flex-basis: 28.5%;
}

.footer-copy-object {
    position: absolute;
    left: 21%;
    top: 5%;
}

.footer-stage__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.footer-stage__text{
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.footer-stage{
    flex-basis: 43%;
}

.footer_product{
    position: relative;
    flex-basis: 51%;
    display: block;
}

.footer-stage__text::before {
    @include underline(block, absolute, '', 0);
    top: 27%;
    left: 5%;
    background-color: $color-ethnoscience-border;
    height: px-to-rem(4px);
    width: px-to-rem(20px);
    transform: translate(-50%, -50%);
}
}
