$color-write: #fff;
$color-title: #000000;
$color-background: #f3f9ff;
$color-orange-price: #ffc002;
$color-red: #fa4f01;
$color-green-price: #a7c93d;
$color-grey: #666666;
$form-background: #eef2f7;
$color-dangerous-number: #ec9a6a;
$color-dangerous-line: #becbd8;
$color-dangerous-subtitle: #2b2828;
$color-dangerous-footer-line: #f4d3bb;
$color-ethnoscience-border: #62bd1f;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-size-light: 14px;
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-subtitle: 20px;
$font-size-text: 24px;
$font-size-title: 22px;
$font-size-bold: 28px;